@import "./based/reset";
@import "./based/font";
@import "./components/container";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/section";
@import "./abstract/mixin";

.section-intro {
  @include linearBG(url("../img/top_section_background.jpg"));
  padding: 17rem;
  position: relative;
  .intro-container {
    margin: 0 auto;
    @include flexBox(column, center, center);
    text-transform: uppercase;
    color: $white;
    gap: calc(5.4rem / 2);
    .intro-primary-heading {
      font-size: 4.8rem;
      font-weight: 700;
      span {
        font-weight: 300;
      }
    }
    .intro-secondary-heading {
      font-size: 3rem;
    }
    .intro-background-text {
      font-size: 54rem;
      text-transform: uppercase;
      @include lhCrop(1.21);
      position: absolute;
      bottom: 0;
      opacity: 0.05;
    }
  }
}
