@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,300;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
}

select,
input {
  border: none;
  outline: none;
  background: transparent;
}

.container {
  width: 87%;
}

header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: none;
  align-items: none;
}
header .secondary-bar {
  background: #333;
}
header .secondary-bar .secondary-container {
  color: #707070;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}
header .secondary-bar .secondary-container #selection-currency {
  color: #707070;
}
header .secondary-bar .secondary-container .secondary-menu-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  gap: 8.5rem;
}
header .secondary-bar .secondary-container .secondary-menu-cart .secondary-menu {
  list-style: none;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: 3.2rem;
}
header .secondary-bar .secondary-container .secondary-menu-cart .secondary-menu a {
  color: #707070;
  text-decoration: none;
}
header .secondary-bar .secondary-container .secondary-menu-cart .secondary-cart {
  background: #00c8c8;
  color: #fff;
  padding: 1.6rem;
}
header .secondary-bar .secondary-container .secondary-menu-cart .secondary-cart #selection-cart {
  color: #fff;
}
header .primary-bar .primary-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex: 1;
  flex-wrap: wrap;
  padding: 4rem 0;
  gap: 1.6rem;
}
header .primary-bar .primary-container .primary-heading {
  margin-right: 10rem;
}
header .primary-bar .primary-container .primary-heading img {
  width: 100%;
  height: auto;
}
header .primary-bar .primary-container .primary-menu {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: 5rem;
}
header .primary-bar .primary-container .primary-menu .primary-menu-items {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: baseline;
  gap: 3.2rem;
}
header .primary-bar .primary-container .primary-menu .primary-menu-items .primary-item {
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
header .primary-bar .primary-container .primary-menu .primary-menu-items .primary-item a {
  text-decoration: none;
  color: #333;
}
header .primary-bar .primary-container .primary-menu .primary-menu-items .primary-item a:hover {
  color: #00c8c8;
}
header .primary-bar .primary-container .primary-search-bar {
  border: 1px solid #707070;
  padding: 1rem 1.6rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
header .primary-bar .primary-container .primary-search-bar i {
  cursor: pointer;
}

footer {
  background: #333;
  color: #707070;
}
footer .footer-container {
  margin: 0 auto;
  padding: 1.6rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer-container .footer-right-items {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  list-style: none;
  gap: 3.2rem;
}
footer .footer-container .footer-item {
  cursor: default;
}
footer .footer-container .footer-item:hover {
  color: #fff;
}

.section-intro {
  background: linear-gradient(rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7)), linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/top_section_background.jpg");
  background-size: cover;
  background-position: center;
  z-index: -2;
  padding: 17rem;
  position: relative;
}
.section-intro .intro-container {
  cursor: default;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  gap: calc(5.4rem / 2);
}
.section-intro .intro-container .intro-primary-heading {
  font-size: 4.8rem;
  font-weight: 700;
}
.section-intro .intro-container .intro-primary-heading span {
  font-weight: 300;
}
.section-intro .intro-container .intro-secondary-heading {
  font-size: 3rem;
}
.section-intro .intro-container .intro-background-text {
  font-size: 54rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  opacity: 0.05;
  z-index: -1;
}
.section-intro .intro-container .intro-background-text::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  margin-top: calc((1 - 1.21) * 1.3em);
}
.section-intro .intro-container .intro-background-text::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  margin-bottom: calc((1 - 1.21) * 1.2em);
}

.section-outro {
  background: #f8f8f8;
  padding: 5.6rem 0 0 0;
}
.section-outro .outro-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 1.6rem;
  flex: 1;
}
.section-outro .outro-container .outro-items .outro-heading {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
}
.section-outro .outro-container .outro-items .outro-link-lists {
  list-style: none;
  margin-top: 2.7rem;
  line-height: 3rem;
}
.section-outro .outro-container .outro-items .outro-link-lists .outro-link a {
  font-size: 1.4rem;
  color: #333;
  text-decoration: none;
}
.section-outro .outro-container .outro-items .outro-link-lists .outro-link a:hover {
  color: #00c8c8;
}

.section-banner {
  padding: 6.3rem 0;
  background: #f8f8f8;
}
.section-banner .banner-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  gap: 3rem;
}
.section-banner .banner-container .banner-award {
  flex-basis: 50%;
  background: #333;
  text-transform: uppercase;
  width: 57rem;
  height: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-banner .banner-container .banner-award .award-primary-heading {
  font-size: 3.6rem;
  font-weight: bold;
}
.section-banner .banner-container .banner-award .award-secondary-heading {
  font-size: 3.6rem;
}
.section-banner .banner-container .banner-social {
  flex-basis: 50%;
  background: #00c8c8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 57rem;
  height: 20rem;
}
.section-banner .banner-container .banner-social .banner-social-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  list-style: none;
  font-size: 3.6rem;
}
.section-banner .banner-container .banner-social .banner-social-items .social-item a {
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
