@import "../abstract/mixin";

footer {
  background: $black;
  color: $gray;
  .footer-container {
    margin: 0 auto;
    padding: 1.6rem 0;
    @include flexBox(row, space-between, center);
    .footer-right-items {
      @include flexBox(row, none, center);
      list-style: none;
      gap: 3.2rem;
    }
    .footer-item {
      cursor: default;
      &:hover {
        color: $white;
      }
    }
  }
}
