@import "../based/color";
@import "../abstract/mixin";

header {
  @include flexBox(column-reverse, none, none);
  .secondary-bar {
    background: $black;
    .secondary-container {
      color: $gray;
      margin: 0 auto;
      @include flexBox(row, space-between, center);
      font-size: 1.3rem;
      #selection-currency {
        color: $gray;
      }
      .secondary-menu-cart {
        @include flexBox(row, space-between, none);
        gap: 8.5rem;
        .secondary-menu {
          list-style: none;
          text-transform: capitalize;
          @include flexBox(row, none, center);
          gap: 3.2rem;
        }
        .secondary-cart {
          background: $blue;
          color: $white;
          padding: 1.6rem;
          #selection-cart {
            color: $white;
          }
        }
      }
    }
  }
  .primary-bar {
    .primary-container {
      width: 95%;
      margin: 0 auto;
      @include flexBox(row, space-between, baseline);
      flex: 1;
      flex-wrap: wrap;
      padding: 4rem 0;
      gap: 1.6rem;
      .primary-heading {
        img {
          width: 100%;
          height: auto;
        }
        margin-right: 10rem;
      }
      .primary-menu {
        @include flexBox(row, none, center);
        gap: 5rem;
        .primary-menu-items {
          list-style: none;
          text-transform: uppercase;
          @include flexBox(row, none, baseline);
          gap: 3.2rem;
          .primary-item {
            color: $black;
            @include flexBox(column, center, flex-start);
            a {
              text-decoration: none;
              color: $black;
              &:hover {
                color: $blue;
              }
            }
          }
        }
      }
      .primary-search-bar {
        border: 1px solid $gray;
        padding: 1rem 1.6rem;
        @include flexBox(row-reverse, space-between, center);
        i {
          cursor: pointer;
        }
      }
    }
  }
}
